body {
    font-family: 'Lato', 'Trebuchet MS', sans-serif;
}

header, main {
    text-align: center;
}

header {
    font-size: 36px;
}

button {
    background-color: rgb(255, 0, 0);
    border: unset;
    font-size: 24px;
    margin-top: 24px;
    padding: 12px;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    font-size: 24px;
}